body{
    background-color: yellow;
    background-image: url("https://cdn.sanity.io/images/jsdrzfkj/production/966f44e260c6d57b2d47762fc617777cca1ea349-600x450.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color:rgb(19, 8, 8);
    font-size: 40px;
    text-align: center;
}
h2{

    color:yellow;
    font-size: 40px;
    text-align: center;

}
image{
    max-width:100px;
    max-height:100px;
}
h3{
    color:yellow;
    font-size: 30px;
    text-align: center;
}
li{
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-align: center;
    list-style: none;
}

textarea{
    
    padding: 30px;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 12%) inset;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition-duration: 0.3s;
    cursor: pointer;
}